* {
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    background-color: #191919;
}

.The-Title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: whitesmoke;
}

.The-Title span {
    color: skyblue;
}

.Click-Me-Button-Section {
    display: flex;
    justify-content: center;
}

.Click-Me-Button {
    background-color: transparent;
    color: skyblue;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-color: skyblue;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.Click-Me-Button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#div-counter {
    display: flex;
    justify-content: center;
}

#counter {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    margin-bottom: 50px;
}